<h1>Control Panel</h1>
<ul>
    <li>
        @Html.ActionLink("Manage Work Item", "Index", "WorkItems", routeValues: null, htmlAttributes: null)
    </li>
    <li>
        @Html.ActionLink("Manage Appointments", "Index", "Appointments", routeValues: null, htmlAttributes: null)
    </li>    
    <li>
        @Html.ActionLink("Manage Users", "Index", "Users", routeValues: null, htmlAttributes: null)
    </li>
    <li>
        @Html.ActionLink("Edit Profile", "Edit", "Users", routeValues: new { id = ViewBag.currentUser.ID }, htmlAttributes: null)
    </li>
</ul>

<h2>Appointment for today</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Status
        </th>
       
        <th></th>
    </tr>
    
    @foreach (var item in ViewBag.ListTodayTask)
    {
        <tr>
            <td>
                @item.User.firstName
            </td>
            <td>
                @item.startTime.DayOfWeek
            </td>
            <td>
                @item.startTime.TimeOfDay
            </td>
            <td>
                @item.endTime.TimeOfDay
            </td>
            <td>
                @if (@item.status == Peluqueria3.Models.Status.Waiting)
                {
                    @: Waiting
                }
                else
                {
                    if (@item.status == Peluqueria3.Models.Status.InProgres)
                    {
                        @: In Progres
                    }
                    else
                    {
                        @: Finished
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Appointments", routeValues: new { id = item.ID }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Appointments", routeValues: new { id = item.ID }, htmlAttributes: null) |
                @Html.ActionLink("Remove", "Remove", "Appointments", routeValues: new { id = item.ID }, htmlAttributes: null)
            </td>
           
        </tr>
    }

</table>

        



