@{
    ViewBag.Title = "AdminPanel";
}

<h1>Panel de Control</h1>
<ul>
    <li>
        @Html.ActionLink("Gestionar Items de Trabajo", "Index", "WorkItems", routeValues: null, htmlAttributes: null)
    </li>
    <li>
        @Html.ActionLink("Gestionar Turnos", "Index", "Appointments", routeValues: null, htmlAttributes: null)
    </li>
    <li>
        <%= link_to 'Sacar Turno', new_appointment_path %>
    </li>
    <li>
        @Html.ActionLink("Gestionar Usuarios", "Index", "Users", routeValues: null, htmlAttributes: null)
    </li>
    <li>
        <%= link_to 'Editar Perfil', edit_user_path(current_user) %>
    </li>
</ul>

<h2>Cosas para hoy</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
       
        <th></th>
    </tr>
    
    @foreach (var item in ViewBag.ListTodayTask)
    {
        <tr>
            <td>
                @item.User.firstName
            </td>
            <td>
                @item.startTime
            </td>
            <td>
                @item.endTime
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
           
        </tr>
    }

</table>

        



