@model IEnumerable<Peluqueria3.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<div class="page">
    <h2>Appointments</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            @if (ViewBag.currentUser.isAdmin == true)
            {
                <th>
                    Name
                </th>
            }

            <th>
                Date
            </th>
            <th>
                Start time
            </th>
            <th>
                End time
            </th>
            <th>
                Status
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.currentUser.isAdmin == true)
                {
                    <td>
                        @item.User.firstName
                    </td>
                }

                <td>
                    @item.startTime.ToShortDateString()
                </td>
                <td>
                    @item.startTime.TimeOfDay
                </td>
                <td>
                    @item.endTime.TimeOfDay
                </td>
                <td>
                    @if (@item.status == Peluqueria3.Models.Status.Waiting)
                    {
                        @: Waiting
                    }
                    else
                    {
                        if (@item.status == Peluqueria3.Models.Status.InProgres)
                        {
                            @: In Progres
                        }
                        else
                        {
                            @: Finished
                        }
                    }
                </td>
                <td>
                    @if (ViewBag.currentUser.isAdmin == true)
                    {
                        @Html.ActionLink("In Progres", "Update", "Appointments", routeValues: new { appointment = item, status = item.status }, htmlAttributes: null) @: |
                        @Html.ActionLink("Finished", "Update", "Appointments", routeValues: new { appointment = item, status = item.status }, htmlAttributes: null)
                    }
                </td>
                <td>
                    @if (ViewBag.currentUser.isAdmin == true)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @: |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) @: |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Back to menu", "Show", "Users", routeValues: null, htmlAttributes: null)
</div>


